#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
    top:50%;
}

body
{
    overflow-x: hidden;
    background-image: -webkit-linear-gradient(bottom,#39cccc,#0074d9);
}

.weather
{
    @import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
    font-family: 'Open Sans',Roboto, sans-serif;
    text-align: center;
    font-size: 5rem;
    border-left: 15px solid #DDDDDD;
    background-color: rgba(0,0,0,0.1)
}
