/*||||||||*\
The css for the larger desktop veiw:
\*||||||||*/


/*||||||||*\
Coloumns for responsive web design:
\*||||||||*/

.col-1
{
    width: 33.33%;
}

.col-2 {
    width: 33.33%;
}

.col-3 {
    width: 33.33%;
}
