*
{
    box-sizing: border-box;
    font-family: 'Open Serif',sans-serif;
    background-color: #123456;
}

.content
{
    border: 5px solid #fff;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    line-height: 150%;
}

.content:first-line
{
    font-size: 2rem;
    font-family: 'Droid Sans', sans-serif;
}

.pure-u-1
{
    margin-top: 3%;
}

.pure-menu-heading
{
    font-family: 'Droid Serif',sans-serif;
}
