*
{
    box-sizing: border-box;
    font-family: 'Open Serif',sans-serif;
    background-color: #f8f8f8;
}

.nav
{
    background-color: #123456 !important;
    padding: 10px;
    margin-bottom: 2%;
}

.nav li
{
    font-size: 1.25rem;
    text-align: center;
    
    padding: 1%;
    margin-top: 1%;
    
    transition-property: border;
    transition-duration: 0.45s;
    background-color: #123456;
}

.pure-menu-list
{
    background-color: #123456;
}

.nav li:hover
{
    border: 3px solid #c158dc;
    
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
}

*
{
    z-index: 10;
}

.content
{
    border: 5px solid #fff;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    line-height: 150%;
}

.content:first-line
{
    font-size: 2rem;
    font-family: 'Droid Sans', sans-serif;
}

.pure-u-1
{
    margin-top: 3%;
}

